

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  width: 300px;
  z-index: 9994;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  transition: all ease-in-out 0.3s;
}

#main {
  margin-left: 100px;
}

@media (max-width: 1999px) { /* taille pour on/off le boutou bleu */ 
  .header {
    left: -3000px;
  }

  #main {
    margin-left: 0;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}



.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}


.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}


/* Navigation Menu */

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  bottom: 15px;
  left: 115px; /*bouton bleu emplacement */
  z-index: 9999;
  border: 0;
  font-size: 24px;
  outline: none !important;
  background-color: grey;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;

  /* transition: all 0.4s; */
}


/* Mobile Navigation2 */
.mobile-nav-toggle2 {
  position: fixed;
  bottom: 15px;
  left: 55px;  /*bouton bleu emplacement */
  z-index: 9999;
  border: 0;
  font-size: 24px;
  font-size: 24px;
  outline: none !important;
  background-color: grey;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;

  /* transition: all 0.4s; */
}

/* Mobile Navigation3 */
.mobile-nav-toggle3 {
  position: fixed;
  bottom: 15px;
  left: 170px; /*bouton bleu emplacement */
  z-index: 9999;
  border: 0;
  font-size: 24px;
  outline: none !important;
  background-color: grey;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;

  /* transition: all 0.4s; */
}




.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .header {
  left: 0;
}









